html, body {
	height: 100%;
	width: 100%;
}

body {
    text-align: center;
    background-color: lightslategrey;
}

h1 {
	font-family: Monaco, Cursive;

	/*Monaco;*/

	/*cursive;*/
	height: 65px;
	font-size: 70px;

	/*border-bottom: dotted;
	border-width: 10px;
	border-radius: 4px;
	width: 505px;*/
}

.page-divider {
	border-style: dotted;
	border-width: 5px;
	border-radius: 4px;
	width: 505px;
	margin: auto;
	background-color: slategrey;
}

.modal {
	background-color: slategrey;
	visibility: hidden;
	width: 100vw;
	/*margin-right: auto;
	margin-left: auto;*/
	/*margin: auto;*/
	z-index: 100;
	/*height: 100%;*/
	/*overflow-y: auto;*/
	opacity: 0.95;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	/*width: 505px;*/
}